/Breaking.class
/CopyElmts.class
/Count.class
/Cube.class
/DeleteElmt.class
/DupChar.class
/DupWords.class
/DuplicateValue.class
/FindValue.class
/MatrixMul.class
/NoOfChar.class
/NoOfWords.class
/PercentageOfCases.class
/Pyramid.class
/SecondLargest.class
/SecondSmallest.class
/TimeConversion.class
